.page {
  overflow-x: scroll;
}

.kanban {
  display: flex;
  margin-top: 20px;
  width: 2450px;
  height: 80vh;
}

.column {
  display: flex;
  margin-right: 8px;
  padding: 24px 0;
  flex-direction: column;
  width: 350px;
  height: 100%;

  h2 {
    margin: 0;
    padding: 0 16px;
  }

  .list {
    display: flex;
    margin-top: 8px;
    padding: 16px;
    min-height: calc(100% - 30px);
    flex-direction: column;
    flex-grow: 1px;
    background-color: #ddd;
    border-radius: 8px;
    overflow-y: scroll;
  }
}

.item {
  margin-top: 8px;
}